.new-idea
  = link_to "New Idea", new_user_idea_path(current_user), class: 'new-button'

%h1 Welcome #{current_user.username}

.user-ideas
  - current_user.ideas.each do |idea|
    %h3
      = link_to idea.title, user_idea_path(current_user, idea)
