.new-idea {
  margin-top: 30px;
  padding-left: 10px;
}

.ideas {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.idea-container {
  display: flex;
  justify-content: center;

  .idea-box {
    width: 800px;
    height: auto;
    display: flex;
    margin-top: 15px;
  }
}

.idea-links {
  display: flex;
  justify-content: center;
}

.idea-images {
  display: flex;
  justify-content: center;
}
