@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@mixin button($color) {
  margin-top: 40px;
  border: 2px solid $color;
  color: black;
  font-size: 16px;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 8px;

  &:hover {
    background-color: $color;
  }
}

html {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  height: 100%;
  background: {
    image: url('https://www.walldevil.com/wallpapers/a89/minimalist-wallpaper-desktop-backgrounds-wallpapers-aiddblgig.jpg');
    size: cover;
  }
  font: {
    family: 'Raleway';
  }

  a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: $muted-purple;
    }
  }

}

.delete-button {
  @include button(#f44336);
}

.edit-button {
  @include button(#008CBA);
}

.new-button {
  @include button(#4CAF50);
}

.submit {
  @include button(#ADD8E6)
}
