body {
  background: {
    image: url('https://www.walldevil.com/wallpapers/a89/minimalist-wallpaper-desktop-backgrounds-wallpapers-aiddblgig.jpg');
    size: cover;
  }
  font: {
    family: 'Raleway';
  }
}
