%h1 Images

- @images.each do |image|
  %p #{image.name}
  = image_tag image.image_url
  %br/
  = link_to "Delete", admin_image_path(image), method: :delete

= link_to "Add New Image", new_admin_image_path
